.main-header {
  background-color: #3f3f44;
  width: 100%;
  padding: 10px 0;
  color: #f7f7f7;
  display: flex;
  align-items: center;
}

.login-button {
  width: 70px;
  height: 35px;
  right: 10px;
  position: absolute;
}

.header-name {
  padding-left: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
